<ion-header>

  <ion-navbar color="primary">
    <ion-title>Búsqueda Avanzada</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-item class="input-padding">
    <ion-input 
      type="text"
      [(ngModel)]="search.freeText"
      placeholder="Buscar en Diputados">
    </ion-input>
  </ion-item>

  <ion-item class="input-padding">
    <ion-label>Grupo Parlamentario</ion-label>
    <ion-select 
      cancelText="Ninguno"
      okText="Aceptar"
      interface="popover"
      [(ngModel)]="search.parliamentaryGroup"
      (ionCancel)="handleSelectCancel('parliamentaryGroup')">
      <ion-option 
        *ngFor="let group of parliamentaryGroups"
        value="{{group}}">
          {{ group }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="input-padding">
    <ion-label>Circunscripción</ion-label>
    <ion-select 
      cancelText="Ninguno"
      okText="Aceptar"
      interface="popover"
      [(ngModel)]="search.district"
      (ionCancel)="handleSelectCancel('district')">
      <ion-option 
        *ngFor="let district of districts"
        value="{{district}}">
          {{ district }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="input-padding">
    <ion-label>Cargo</ion-label>
    <ion-select 
      cancelText="Ninguno"
      okText="Aceptar"
      interface="popover"
      [(ngModel)]="search.position"
      (ionCancel)="handleSelectCancel('position')">
      <ion-option 
        *ngFor="let position of positions"
        value="{{position}}">
          {{ position }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list 
    inset
    radio-group
    [(ngModel)]="search.gender">
      <ion-list-header>
        Sexo
      </ion-list-header>
      <ion-item>
        <ion-label>Hombre</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mujer</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
  </ion-list>

  <ion-item class="input-padding">
    <ion-label>Redes Sociales</ion-label>
    <ion-checkbox [(ngModel)]="search.socialNetworks"></ion-checkbox>
  </ion-item>

  <ion-item class="input-padding">
    <ion-label>Declaración de Bienes</ion-label>
    <ion-checkbox [(ngModel)]="search.propertyDeclaration"></ion-checkbox>
  </ion-item>

</ion-content>

<ion-footer>

  <ion-toolbar>
     <ion-buttons>
      <button 
        ion-button 
        clear 
        class="footer-button" 
        color="primary" 
        (click)="closeSearch()">
          Cancelar
      </button>
      <button 
        ion-button 
        clear 
        class="footer-button" 
        color="primary"
        (click)="initSearch()">
          Buscar
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
