.dashboard-background-parliamentary {
  background-image: url("../assets/img/dashboard-background-parliamentary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}