.dashboard-background-parliamentary {
  background-image: url("../assets/img/dashboard-background-parliamentary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parliamentary-button {
  width: 100%;
  margin-top: 7px;
}

.congress-img{
  width: 97%;
  height: 90%;
  margin-top: 23px;
  border-radius: 3px;
}