.initiative-grid-row{
  margin-left: 4px;
  margin-bottom: 13px;
}

.agree-circle{
  border-radius: 30%;
  background-color: #00cc66;
  color: white;
  height: 60px;
  width: 60px;
  font-size: 23px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.disagree-circle{
  border-radius: 30%;
  background-color: #ff5050;
  color: white;
  height: 60px;
  width: 60px;
  font-size: 23px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}