.chips-container {
  width: 100%;
  margin: 5px 5px 0 5px;
}

.custom-chip {
  margin: 5px !important;
  background: rgba(224, 224, 224, 1) !important;
}

.toggle-filters {
  background-color: #F8F8F8 !important;
  padding-right: 16px !important;
}

.no-filters {
  text-align: center; 
  color: #9C1E3D;
}

.toggle-color {
  color: #9C1E3D;
}