.agree-indicator {
  margin-left: 13px;
  margin-bottom: 10px;
  color: #00cc66;
}

.disagree-indicator {
  color: #ff5050;
}

.no-data-list-label {
  color: #9C1E3D;
  margin-top: 60%;
  margin-left: 17%;
  font-size: x-large;
}